<mat-toolbar class="bg-color">
  <span>Welcome {{  authService.getUsernameFromLocalStorage() }}</span>

  <div class="example-loading-shade"
       *ngIf="authService.isLoggedIn">
    <div class="button-row">
      <button type="button" mat-flat-button color="primary" (click)="logout()">Logout</button>
    </div>
  </div>

</mat-toolbar>

<div class="example-loading-shade"
     *ngIf="authService.isAdmin()">
  <div class="button-row">
    <button type="button" mat-flat-button color="primary" (click)="viewAllUsers()">View all Users</button>
  </div>
</div>

<div class="example-loading-shade"
     *ngIf="authService.isLoggedIn">
  <div class="button-row">
    <button type="button" mat-flat-button color="primary" (click)="viewAdvertisers()">View advertisers</button>
  </div>
</div>

<div class="mat-elevation-z8"></div>

<!--<div class="container">-->
  <router-outlet></router-outlet>
<!--</div>-->
